QuanLyQuanAo/WebContent/wsdl/GetDanhSachDichVu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://QuanAoImplement" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://QuanAoImplement" xmlns:intf="http://QuanAoImplement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://QuanAoImplement" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="StringListGetByJson">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="StringListGetByJsonResponse">
    <complexType>
     <sequence>
      <element name="StringListGetByJsonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="StringListGetByJsonResponse">

      <wsdl:part element="impl:StringListGetByJsonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="StringListGetByJsonRequest">

      <wsdl:part element="impl:StringListGetByJson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetDanhSachDichVu">

      <wsdl:operation name="StringListGetByJson">

         <wsdl:input message="impl:StringListGetByJsonRequest" name="StringListGetByJsonRequest">

       </wsdl:input>

         <wsdl:output message="impl:StringListGetByJsonResponse" name="StringListGetByJsonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetDanhSachDichVuSoapBinding" type="impl:GetDanhSachDichVu">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="StringListGetByJson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="StringListGetByJsonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="StringListGetByJsonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetDanhSachDichVuService">

      <wsdl:port binding="impl:GetDanhSachDichVuSoapBinding" name="GetDanhSachDichVu">

         <wsdlsoap:address location="http://localhost:8000/QuanLyQuanAo/services/GetDanhSachDichVu"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
